<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
	<connectionStrings>
		<add name="KontaktyConnectionString" 
			 connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=BazaK;Integrated Security=SSPI" 
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>